<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482353311140-npkhjpsgbra6o88iqah68ut6r7nuuv7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482353311140-npkhjpsgbra6o88iqah68ut6r7nuuv7p</string>
	<key>API_KEY</key>
	<string>AIzaSyA6fMMdbxB-VCilShuidVe9rixkxVEx0_c</string>
	<key>GCM_SENDER_ID</key>
	<string>482353311140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.edu.unyleya.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-unyleya2</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-unyleya2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482353311140:ios:f581c7ad2de1a9a289e531</string>
</dict>
</plist>